#![enable(implicit_some)]
(
    tag: "HBC",
    population: 14000000,
    gdp_1936_gbp: 650000000.0,
    gdp_quality: Rough,
    sector_shares: (agriculture: 0.61, mining: 0.08, heavy_industry: 0.03, light_industry: 0.06, services: 0.10, government: 0.08, military_industry: 0.04),
    urbanization: 0.10,
    literacy: 0.20,
    unemployment: 0.04,
    industrial_capacity_index: 0.8,
    military_spending_share: 0.08,
    construction_capacity_index: 0.5,
    gold_reserve_gbp: 3000000.0,
    foreign_exchange_reserve_gbp: 1200000.0,
    public_debt_gbp: 45000000.0,
    initial_laws: (conscription: "limited_conscription", economy: "interventionism", trade: "export_focus", taxation: "medium_taxation", civil_rights: "limited_rights", information_control: "state_media"),
)
