#![enable(implicit_some)]
(
    tag: "ITA",
    population: 43000000,
    gdp_1936_gbp: 16000000000.0,
    gdp_quality: Estimated,
    sector_shares: (agriculture: 0.22, mining: 0.04, heavy_industry: 0.16, light_industry: 0.16, services: 0.23, government: 0.10, military_industry: 0.09),
    urbanization: 0.42,
    literacy: 0.80,
    unemployment: 0.07,
    industrial_capacity_index: 16.0,
    military_spending_share: 0.11,
    construction_capacity_index: 15.0,
    gold_reserve_gbp: 300000000.0,
    foreign_exchange_reserve_gbp: 180000000.0,
    public_debt_gbp: 6000000000.0,
    initial_laws: (conscription: "limited_conscription", economy: "war_economy", trade: "import_substitution", taxation: "high_taxation", civil_rights: "national_security_act", information_control: "state_media"),
)
