#![enable(implicit_some)]
(
    tag: "SHX",
    population: 12000000,
    gdp_1936_gbp: 600000000.0,
    gdp_quality: Rough,
    sector_shares: (agriculture: 0.62, mining: 0.10, heavy_industry: 0.04, light_industry: 0.06, services: 0.09, government: 0.06, military_industry: 0.03),
    urbanization: 0.08,
    literacy: 0.18,
    unemployment: 0.04,
    industrial_capacity_index: 0.8,
    military_spending_share: 0.10,
    construction_capacity_index: 0.6,
    gold_reserve_gbp: 4000000.0,
    foreign_exchange_reserve_gbp: 2000000.0,
    public_debt_gbp: 60000000.0,
    initial_laws: (conscription: "limited_conscription", economy: "interventionism", trade: "import_substitution", taxation: "medium_taxation", civil_rights: "limited_rights", information_control: "regulated_press"),
)
