#![enable(implicit_some)]

[
    (
        id: "all_metal_aircraft",
        name: "全金属机体",
        category: Aviation,
        research_cost: 1.4,
        start_year: 1936,
        difficulty: 0.2,
        prereqs: [],
        unlocks: [Good("aircraft_parts"), Good("aircraft_frames"), PM("aircraft_factory_default")],
    ),
    (
        id: "all_metal_aircraft_2",
        name: "全金属机体 II",
        category: Aviation,
        research_cost: 1.8,
        start_year: 1938,
        difficulty: 0.4,
        prereqs: ["all_metal_aircraft"],
        unlocks: [],
    ),
    (
        id: "fighter_technology",
        name: "战斗机技术",
        category: Aviation,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: ["all_metal_aircraft"],
        unlocks: [],
    ),
    (
        id: "bomber_technology",
        name: "轰炸机技术",
        category: Aviation,
        research_cost: 1.2,
        start_year: 1936,
        difficulty: 0.1,
        prereqs: ["all_metal_aircraft"],
        unlocks: [],
    ),
    (
        id: "naval_aviation",
        name: "海军航空",
        category: Aviation,
        research_cost: 1.2,
        start_year: 1937,
        difficulty: 0.1,
        prereqs: ["all_metal_aircraft"],
        unlocks: [],
    ),
    (
        id: "jet_engine",
        name: "喷气发动机",
        category: Aviation,
        research_cost: 2.0,
        start_year: 1940,
        difficulty: 0.8,
        prereqs: ["all_metal_aircraft_2"],
        unlocks: [],
    ),
]
