#![enable(implicit_some)]

[
    (
        id: "chemistry",
        name: "化学",
        category: Chemistry,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: [],
        unlocks: [],
    ),
    (
        id: "chemistry_2",
        name: "化学 II",
        category: Chemistry,
        research_cost: 1.4,
        start_year: 1938,
        difficulty: 0.2,
        prereqs: ["chemistry"],
        unlocks: [],
    ),
    (
        id: "synthetic_materials",
        name: "合成材料",
        category: Chemistry,
        research_cost: 1.4,
        start_year: 1936,
        difficulty: 0.2,
        prereqs: ["chemistry"],
        unlocks: [Good("synthetic_rubber"), PM("synthetic_refinery_default")],
    ),
    (
        id: "synthetic_oil_tech",
        name: "合成燃油",
        category: Chemistry,
        research_cost: 1.6,
        start_year: 1937,
        difficulty: 0.3,
        prereqs: ["synthetic_materials"],
        unlocks: [Good("synthetic_oil")],
    ),
    (
        id: "synthetic_materials_2",
        name: "合成材料 II",
        category: Chemistry,
        research_cost: 1.8,
        start_year: 1939,
        difficulty: 0.4,
        prereqs: ["synthetic_materials"],
        unlocks: [],
    ),
]
