#![enable(implicit_some)]

[
    (
        id: "electronics_base",
        name: "电气基础",
        category: Electrical,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: [],
        unlocks: [Good("electrical_goods"), PM("electrical_works_default")],
    ),
    (
        id: "electronics",
        name: "电子学",
        category: Electrical,
        research_cost: 1.4,
        start_year: 1937,
        difficulty: 0.2,
        prereqs: ["electronics_base"],
        unlocks: [],
    ),
    (
        id: "electronics_2",
        name: "电子学 II",
        category: Electrical,
        research_cost: 1.8,
        start_year: 1939,
        difficulty: 0.4,
        prereqs: ["electronics"],
        unlocks: [],
    ),
    (
        id: "radar_tech",
        name: "雷达",
        category: Electrical,
        research_cost: 1.4,
        start_year: 1937,
        difficulty: 0.2,
        prereqs: ["electronics_base"],
        unlocks: [Good("radar_sets"), PM("radar_default")],
    ),
    (
        id: "radar_tech_2",
        name: "雷达 II",
        category: Electrical,
        research_cost: 1.8,
        start_year: 1939,
        difficulty: 0.4,
        prereqs: ["radar_tech"],
        unlocks: [],
    ),
]
