#![enable(implicit_some)]

[
    (
        id: "concentrated_industry",
        name: "集中工业",
        category: Industry,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: [],
        unlocks: [],
    ),
    (
        id: "concentrated_industry_2",
        name: "集中工业 II",
        category: Industry,
        research_cost: 1.4,
        start_year: 1937,
        difficulty: 0.2,
        prereqs: ["concentrated_industry"],
        unlocks: [],
    ),
    (
        id: "concentrated_industry_3",
        name: "集中工业 III",
        category: Industry,
        research_cost: 1.8,
        start_year: 1939,
        difficulty: 0.4,
        prereqs: ["concentrated_industry_2"],
        unlocks: [],
    ),
    (
        id: "dispersed_industry",
        name: "分散工业",
        category: Industry,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: [],
        unlocks: [],
    ),
    (
        id: "dispersed_industry_2",
        name: "分散工业 II",
        category: Industry,
        research_cost: 1.4,
        start_year: 1937,
        difficulty: 0.2,
        prereqs: ["dispersed_industry"],
        unlocks: [],
    ),
    (
        id: "dispersed_industry_3",
        name: "分散工业 III",
        category: Industry,
        research_cost: 1.8,
        start_year: 1939,
        difficulty: 0.4,
        prereqs: ["dispersed_industry_2"],
        unlocks: [],
    ),
    (
        id: "construction_technology",
        name: "建造技术",
        category: Industry,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: [],
        unlocks: [Building("construction_sector")],
    ),
    (
        id: "construction_technology_2",
        name: "建造技术 II",
        category: Industry,
        research_cost: 1.4,
        start_year: 1938,
        difficulty: 0.2,
        prereqs: ["construction_technology"],
        unlocks: [],
    ),
    (
        id: "industrial_production",
        name: "工业生产",
        category: Industry,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: [],
        unlocks: [],
    ),
    (
        id: "industrial_production_2",
        name: "工业生产 II",
        category: Industry,
        research_cost: 1.4,
        start_year: 1938,
        difficulty: 0.2,
        prereqs: ["industrial_production"],
        unlocks: [],
    ),
    (
        id: "combustion_engine",
        name: "内燃机",
        category: Industry,
        research_cost: 1.2,
        start_year: 1936,
        difficulty: 0.1,
        prereqs: [],
        unlocks: [Good("engines")],
    ),
    (
        id: "combustion_engine_2",
        name: "内燃机 II",
        category: Industry,
        research_cost: 1.6,
        start_year: 1938,
        difficulty: 0.3,
        prereqs: ["combustion_engine"],
        unlocks: [],
    ),
    (
        id: "welded_armor",
        name: "焊接装甲",
        category: Industry,
        research_cost: 1.4,
        start_year: 1936,
        difficulty: 0.2,
        prereqs: ["industrial_production"],
        unlocks: [Good("tank_hulls"), PM("tank_factory_default")],
    ),
    (
        id: "welded_armor_2",
        name: "焊接装甲 II",
        category: Industry,
        research_cost: 1.8,
        start_year: 1939,
        difficulty: 0.4,
        prereqs: ["welded_armor"],
        unlocks: [],
    ),
]
