#![enable(implicit_some)]

[
    (
        id: "information_control_base",
        name: "信息管控基础",
        category: InformationControl,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: [],
        unlocks: [],
    ),
    (
        id: "state_media_techniques",
        name: "国营媒体技术",
        category: InformationControl,
        research_cost: 1.4,
        start_year: 1937,
        difficulty: 0.2,
        prereqs: ["information_control_base"],
        unlocks: [Law(InformationControl, "state_media")],
    ),
    (
        id: "total_propaganda_techniques",
        name: "全面宣传技术",
        category: InformationControl,
        research_cost: 1.8,
        start_year: 1939,
        difficulty: 0.4,
        prereqs: ["state_media_techniques"],
        unlocks: [Law(InformationControl, "total_propaganda")],
    ),
    (
        id: "surveillance_networks",
        name: "监控网络",
        category: InformationControl,
        research_cost: 1.4,
        start_year: 1938,
        difficulty: 0.2,
        prereqs: ["information_control_base"],
        unlocks: [],
    ),
    (
        id: "police_state_methods",
        name: "警察国家手段",
        category: InformationControl,
        research_cost: 1.6,
        start_year: 1938,
        difficulty: 0.3,
        prereqs: ["surveillance_networks"],
        unlocks: [Law(CivilRights, "police_state")],
    ),
]
