#![enable(implicit_some)]

[
    (
        id: "naval_technology",
        name: "海军技术",
        category: Naval,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: [],
        unlocks: [],
    ),
    (
        id: "destroyer_technology",
        name: "驱逐舰技术",
        category: Naval,
        research_cost: 1.2,
        start_year: 1936,
        difficulty: 0.1,
        prereqs: ["naval_technology"],
        unlocks: [],
    ),
    (
        id: "cruiser_technology",
        name: "巡洋舰技术",
        category: Naval,
        research_cost: 1.4,
        start_year: 1936,
        difficulty: 0.2,
        prereqs: ["naval_technology"],
        unlocks: [],
    ),
    (
        id: "battleship_technology",
        name: "战列舰技术",
        category: Naval,
        research_cost: 1.6,
        start_year: 1936,
        difficulty: 0.3,
        prereqs: ["cruiser_technology"],
        unlocks: [],
    ),
    (
        id: "submarine_technology",
        name: "潜艇技术",
        category: Naval,
        research_cost: 1.2,
        start_year: 1936,
        difficulty: 0.1,
        prereqs: ["naval_technology"],
        unlocks: [],
    ),
    (
        id: "carrier_technology",
        name: "航母技术",
        category: Naval,
        research_cost: 1.8,
        start_year: 1938,
        difficulty: 0.5,
        prereqs: ["cruiser_technology", "all_metal_aircraft"],
        unlocks: [],
    ),
    (
        id: "fleet_in_being",
        name: "存在舰队学说",
        category: Naval,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: [],
        unlocks: [],
    ),
    (
        id: "fleet_in_being_2",
        name: "存在舰队学说 II",
        category: Naval,
        research_cost: 1.4,
        start_year: 1938,
        difficulty: 0.2,
        prereqs: ["fleet_in_being"],
        unlocks: [],
    ),
    (
        id: "trade_interdiction",
        name: "贸易袭击学说",
        category: Naval,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: [],
        unlocks: [],
    ),
    (
        id: "trade_interdiction_2",
        name: "贸易袭击学说 II",
        category: Naval,
        research_cost: 1.4,
        start_year: 1938,
        difficulty: 0.2,
        prereqs: ["trade_interdiction"],
        unlocks: [],
    ),
]
