#![enable(implicit_some)]

[
    (
        id: "social_science",
        name: "社会科学",
        category: SocialScience,
        research_cost: 1.0,
        start_year: 1936,
        difficulty: 0.0,
        prereqs: [],
        unlocks: [],
    ),
    (
        id: "civil_rights_reform",
        name: "民权改革",
        category: SocialScience,
        research_cost: 1.4,
        start_year: 1937,
        difficulty: 0.2,
        prereqs: ["social_science"],
        unlocks: [Law(CivilRights, "open_society")],
    ),
    (
        id: "limited_rights_reform",
        name: "有限权利改革",
        category: SocialScience,
        research_cost: 1.2,
        start_year: 1936,
        difficulty: 0.1,
        prereqs: ["social_science"],
        unlocks: [],
    ),
    (
        id: "welfare_state",
        name: "福利国家",
        category: SocialScience,
        research_cost: 1.6,
        start_year: 1938,
        difficulty: 0.3,
        prereqs: ["civil_rights_reform"],
        unlocks: [],
    ),
    (
        id: "mass_mobilization_theory",
        name: "大众动员理论",
        category: SocialScience,
        research_cost: 1.4,
        start_year: 1938,
        difficulty: 0.2,
        prereqs: ["social_science"],
        unlocks: [],
    ),
]
