#![enable(implicit_some)]

[
    (
        id: "textile_mill_default",
        name: "纺织生产",
        building_id: "textile_mill",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["clothes", "textiles"],
        output_good_amounts: [95.0, 45.0],
        employment_demand: (0, 80, 10, 5, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "furniture_factory_default",
        name: "家具制造",
        building_id: "furniture_factory",
        input_good_ids: ["steel"],
        input_good_amounts: [6.0],
        output_good_ids: ["furniture"],
        output_good_amounts: [55.0],
        employment_demand: (0, 60, 10, 5, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "distillery_default",
        name: "酿酒",
        building_id: "distillery",
        input_good_ids: ["grain"],
        input_good_amounts: [18.0],
        output_good_ids: ["liquor"],
        output_good_amounts: [40.0],
        employment_demand: (0, 50, 10, 5, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "tobacco_plantation_default",
        name: "烟草种植",
        building_id: "tobacco_plantation",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["tobacco"],
        output_good_amounts: [35.0],
        employment_demand: (200, 0, 0, 0, 10, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
]
