#![enable(implicit_some)]

[
    (
        id: "railway_default",
        name: "铁路运输",
        building_id: "railway",
        input_good_ids: ["coal"],
        input_good_amounts: [1.0],
        output_good_ids: ["transport"],
        output_good_amounts: [2.0],
        employment_demand: (0, 50, 10, 0, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "port_default",
        name: "港口运输",
        building_id: "port",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["transport"],
        output_good_amounts: [1.0],
        employment_demand: (0, 30, 10, 0, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "power_plant_default",
        name: "火力发电",
        building_id: "power_plant",
        input_good_ids: ["coal"],
        input_good_amounts: [3.0],
        output_good_ids: ["electrical_goods"],
        output_good_amounts: [2.0],
        employment_demand: (0, 40, 10, 0, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "construction_sector_default",
        name: "建筑施工",
        building_id: "construction_sector",
        input_good_ids: ["steel", "machinery"],
        input_good_amounts: [2.0, 1.0],
        output_good_ids: [],
        output_good_amounts: [],
        employment_demand: (0, 100, 20, 0, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
]
