#![enable(implicit_some)]

[
    (
        id: "air_base_default",
        name: "空军基地运作",
        building_id: "v6_air_base",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: [],
        output_good_amounts: [],
        employment_demand: (0, 20, 10, 0, 0, 20),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "naval_base_default",
        name: "海军基地运作",
        building_id: "v6_naval_base",
        input_good_ids: ["steel"],
        input_good_amounts: [1.0],
        output_good_ids: [],
        output_good_amounts: [],
        employment_demand: (0, 30, 10, 0, 0, 30),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "anti_air_default",
        name: "防空阵地运作",
        building_id: "v6_anti_air",
        input_good_ids: ["steel"],
        input_good_amounts: [0.5],
        output_good_ids: [],
        output_good_amounts: [],
        employment_demand: (0, 10, 0, 0, 0, 40),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "radar_default",
        name: "雷达站运作",
        building_id: "v6_radar",
        input_good_ids: ["radar_sets"],
        input_good_amounts: [0.5],
        output_good_ids: [],
        output_good_amounts: [],
        employment_demand: (0, 10, 20, 0, 0, 10),
        unlocked_by: Some("radar_tech"),
        equipment_output: None,
    ),
    (
        id: "bunker_default",
        name: "地堡驻守",
        building_id: "v6_bunker",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: [],
        output_good_amounts: [],
        employment_demand: (0, 0, 0, 0, 0, 50),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "conscription_center_default",
        name: "征兵运作",
        building_id: "v6_conscription_center",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: [],
        output_good_amounts: [],
        employment_demand: (0, 10, 0, 0, 0, 20),
        unlocked_by: None,
        equipment_output: None,
    ),
]
