#![enable(implicit_some)]

[
    (
        id: "iron_mine_default",
        name: "铁矿开采",
        building_id: "iron_mine",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["iron"],
        output_good_amounts: [45.0],
        employment_demand: (100, 200, 10, 5, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "coal_mine_default",
        name: "煤矿开采",
        building_id: "coal_mine",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["coal"],
        output_good_amounts: [40.0],
        employment_demand: (100, 200, 10, 5, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "oil_rig_default",
        name: "石油开采",
        building_id: "oil_rig",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["oil"],
        output_good_amounts: [20.0],
        employment_demand: (0, 200, 20, 10, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "rubber_plantation_default",
        name: "橡胶采集",
        building_id: "rubber_plantation",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["rubber"],
        output_good_amounts: [15.0],
        employment_demand: (200, 0, 0, 0, 10, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "bauxite_mine_default",
        name: "铝土矿开采",
        building_id: "bauxite_mine",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["aluminium"],
        output_good_amounts: [15.0],
        employment_demand: (100, 150, 10, 5, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "chromium_mine_default",
        name: "铬矿开采",
        building_id: "chromium_mine",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["chromium"],
        output_good_amounts: [15.0],
        employment_demand: (100, 150, 10, 5, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "tungsten_mine_default",
        name: "钨矿开采",
        building_id: "tungsten_mine",
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["tungsten"],
        output_good_amounts: [15.0],
        employment_demand: (100, 150, 10, 5, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
]
