#![enable(implicit_some)]

[
    (
        id: "bank_default",
        name: "金融服务",
        building_id: "bank",
        required_literacy: 0.55,
        required_skilled_ratio: 0.30,
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["banking"],
        output_good_amounts: [2.0],
        employment_demand: (0, 0, 50, 30, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "university_default",
        name: "学术研究",
        building_id: "university",
        required_literacy: 0.85,
        required_skilled_ratio: 0.50,
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: [],
        output_good_amounts: [],
        employment_demand: (0, 0, 100, 0, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
    (
        id: "telegraph_office_default",
        name: "电讯服务",
        building_id: "telegraph_office",
        required_literacy: 0.50,
        required_skilled_ratio: 0.25,
        input_good_ids: [],
        input_good_amounts: [],
        output_good_ids: ["telegraph"],
        output_good_amounts: [2.0],
        employment_demand: (0, 20, 30, 5, 0, 0),
        unlocked_by: None,
        equipment_output: None,
    ),
]
