ScenarioManifest(
    event_libraries: [
        "GER_events.ron",
        "ITA_events.ron",
        "JAP_events.ron",
        "CHI_events.ron",
        "events/ENG_events.ron",
        "events/FRA_events.ron",
        "events/SOV_events.ron",
        "events/spanish_civil_war_events.ron",
        "events/SPR_events.ron",
        "events/SPA_events.ron",
        "events/CNT_events.ron",
        "events/europe_news_events.ron",
        "events/JAP_pacific_events.ron",
        "events/USA_events.ron",
        "events/pacific_news_events.ron",
        "events/spanish_civil_war_news.ron",
        "events/spanish_civil_war_hidden.ron",
        "events/surrender_news_events.ron",
        "news_events.ron",
    ],
    focus_trees: [
        "GER_focus_tree.ron",
    ],
    decision_libraries: [
        "GER_decisions.ron",
        "SPA_decisions.ron",
        "SPR_spanish_prewar_decisions.ron",
    ],
    situation_libraries: [
        "situations/italo_ethiopian_war.ron",
        "situations/spanish_civil_war.ron",
        "situations/second_sino_japanese_war.ron",
        "situations/poland_campaign.ron",
        "situations/western_campaign.ron",
        "situations/mediterranean_war.ron",
        "situations/barbarossa.ron",
        "situations/pacific_war.ron",
    ],
    surrender_libraries: [
        "surrender/major_surrenders.ron",
    ],
    history_profiles: [
        "history_1936",
    ],
    situation_ids: [
        "italo_ethiopian_war",
        "spanish_civil_war",
        "second_sino_japanese_war",
        "poland_campaign",
        "weserubung_and_western_campaign",
        "mediterranean_war",
        "greco_italian_war",
        "barbarossa",
        "pacific_war",
        "southern_resource_area",
    ],
)
